/*
File: style.css
Version: 1.0.2
Date: 10.12.2021
*/

@import 'style-images.css'; /* Spezifikationen für die verwendeten Bilder */
@import 'style-typography.css';  /* Spezifikationen für die Schriften */
@import 'media-queries.css'; /* Spezifikationen für responsive Verhalten */


body {
    background: white none;
    margin-left: auto;
    margin-right: auto;
    }

.container-home {
    display:inline-grid;
    grid-template-columns: 150px 150px ;
    grid-template-areas:
    "hd hd hd"
    "main main main"
    "ft ft ft";
    }

/* for the grid-area template */
.header {
    grid-area: hd;
    }

.content {
    grid-area: main;
    }

.sidebar {
    grid-area: sd;
    }

.footer {
    grid-area: ft;
    }

/* add css for nested grid here */
.nested-grid-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    }

.nested-grid-home-content {
    display: flex;
    flex-wrap: wrap;
    }

/* header elements */
.header {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    }

#site-author {
    width: 10vw;
    text-align: right;
    }

#site-name {
    width: auto;
    text-align: center;
    }

.navbar {
    list-style: none;
    display: flex;
    margin-left: 0;
    padding-left: 0;
    }

.navbar .navbar-item {
    margin-left: 10px;
    }

.btn {
    position: relative;
    padding: 10px 16px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    }

.btn-outline-normal {
    color: black;
    border: 1px solid #a6a6a6;
    background-color: transparent;
    }

.btn-outline-normal:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    }

.container-blog-post .btn {
    margin-top: 20vw;
    }

/* content elements */
.content img {
    display: block;
    }

.article-image {
    border: 2px solid white;
    background-repeat: no-repeat;
    background-position: center;
    }

figure {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  width: 90%;
  border: thin solid #a6a6a6;
  background: white;
  }

.box-author {
    background-color: #FBF8EF;
    border: 1px solid #a6a6a6;
    padding: 10px;
    margin-bottom: 5vh;
    }

.box-archives {
    padding: 10px;
    }

.table-recipe-ingredients {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    }

.table-recipe-ingredients .text-right {
    text-align: right;
    }

.table-recipe-ingredients td, .table-recipe-ingredients th {
    padding: 6px 0;
    padding-left: 0px;
    border-bottom: 1px solid #CCC;
    }

.table-recipe-ingredients th {
    font-weight: normal;
    text-align: left;
    padding-left: 15px;
    }

.preparation-steps,
.tips-on-the-recipe {
    margin-top: 4vh;
    }

.preparation-steps p {
    border-top: 1px dotted grey;
    padding-top: 6vh;
    margin-bottom: 6vh;
    text-align: center;
    }

.preparation-steps blockquote p {
    border-top: none;
    }

#blog-post .content {
    width: 60vw;
    margin-left: 4vw;
    }

#blog-post .sidebar {
    width: 20vw;
    }


/* Footer */
.footer {
    min-height: 8vh;
    margin-top: 2vh;
    }
